:root {
  --primary: rgb(202, 210, 197);
  --secondary: rgb(207, 149, 119);
  --tertiary: rgb(89, 89, 74);
  --quanternary: rgb(106, 127, 219);
}


h1 {
  color: var(--secondary);
}

ul {
  list-style: none;
}

li, a {
  float: left;
  margin: 0 20px;
  text-decoration: none;
  color: var(--quanternary);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:var(--primary);
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  text-decoration:none;
  background-color: var(--secondary);
}

section {
  margin: 0 20px;
}


.email-input, .message-input {
  width: 50%;
  margin: 5px 10px;
  display: inline-block;
  vertical-align: text-top;
}

.message-input {
  height: 150px;
}

.email-label, .message-label {
  display: inline-block;
  vertical-align: text-top;
}

.email-label, .email-name-label{
  margin-right: 25px;
}

footer {
  position:fixed;
  bottom:0px;
  height: 50px;
  width: 100%;
  margin-bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--quanternary);
}

.portfolio-cards{
  margin-top:15px;
}

.resume{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  margin: 20px;
}

.resume-link {
  margin-bottom: 20px;
}

.resume-image {
  margin-top: 20px;
}

.resume-download a {
  font-weight:bolder;
  text-decoration: underline;
  color: var(--quanternary);
}
.portfolio-card {
  border: black 1px solid;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--tertiary);
}
.project-image{
  width: 300px;
}